<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>rule</title>
    <link rel="stylesheet" href="../../static/css/layui.css">
</head>
<body>
<div style="padding: 20px">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red">*</span>值限定</label>
            <div class="layui-input-inline" style="width: 100px">
                <select id="type" name="type" lay-verify="required" lay-filter="type">
                    <option value="">类型</option>
                    <option value="min">大于</option>
                    <option value="max" disabled>小于</option>
                    <option value="val" disabled>等于</option>
                    <option value="range" disabled>范围</option>
                </select>
            </div>
            <div class="layui-input-inline" id="max" style="width: 100px">
                <input type="text" id="maxInput" name="max" class="layui-input" value="<<.Rule.Max>>">
            </div>
            <div class="layui-input-inline" id="min" style="width: 100px; display:none">
                <input type="text" id="minInput" name="min" class="layui-input" value="<<.Rule.Min>>">
            </div>
            <div class="layui-input-inline" id="val" style="width: 100px; display:none">
                <input type="text" id="valInput" name="val" class="layui-input" value="<<.Rule.Val>>">
            </div>
            <div class="layui-form-mid layui-word-aux">单位：毫秒</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red">*</span>时间范围</label>
            <div class="layui-input-inline" style="width: 100px">
                <input type="text" name="time" lay-verify="required" class="layui-input" value="<<.Rule.Time>>">
            </div>
            <div class="layui-form-mid layui-word-aux">单位：分钟</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red">*</span>匹配次数</label>
            <div class="layui-input-inline" style="width: 100px">
                <input type="text" name="count" lay-verify="required" class="layui-input" value="<<.Rule.Count>>">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red">*</span>通知频率</label>
            <div class="layui-input-inline" style="width: 100px">
                <select name="delay" lay-verify="required">
                    <option value="">频率</option>
                    <option value="0h" <<if eq .Rule.Delay "0h">> selected <<end>>>及时</option>
                    <option value="1h" <<if eq .Rule.Delay "1h">> selected <<end>>>每小时</option>
                    <option value="30m" <<if eq .Rule.Delay "30m">> selected <<end>>>每半小时</option>
                    <option value="1d" <<if eq .Rule.Delay "1d">> selected <<end>>>每天</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">通知邮箱</label>
            <div class="layui-input-inline" style="width: 325px">
                <textarea name="mails" placeholder="请输入内容" class="layui-textarea"><<.Rule.Mails>></textarea>
            </div>
            <div class="layui-form-mid layui-word-aux">以分号隔开</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <input type="hidden" name="id" value="<<.ID>>">
            <input type="hidden" id="typeHide" value="<<.Rule.Type>>">
            <button class="layui-btn" lay-submit lay-filter="addApi">
                <i class="layui-icon">&#xe615;</i>提交
            </button>
        </div>
    </form>
    <script src="../../static/layui.js"></script>
    <script>
        layui.use(['form', 'jquery'], function () {
            var form = layui.form;
            var $ = layui.$;
            form.on('submit(addApi)', function (d) {
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/rule/add",
                    data: JSON.stringify(d.field),
                    success: function(result){
                        if (result["code"] === 200) {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            parent.location.reload();
                        }
                    }
                });
                return false;
            });

            form.on('select(type)', function (d) {
                typeFunc(d.value)
            });

            var type = $("#typeHide").val();
            $("#type").val(type);
            form.render("select");
            typeFunc(type);

            function typeFunc(v) {
                if (v === "max") {
                    $("#max").show();
                    $("#maxInput").attr("lay-verify", "required");
                    $("#min").hide();
                    $("#minInput").val("").removeAttr("lay-verify");
                    $("#val").hide();
                    $("#valInput").val("").removeAttr("lay-verify");
                } else if (v === "min") {
                    $("#max").hide();
                    $("#maxInput").val("").removeAttr("lay-verify");
                    $("#min").show();
                    $("#minInput").attr("lay-verify", "required");
                    $("#val").hide();
                    $("#valInput").val("").removeAttr("lay-verify");
                } else if (v === "range") {
                    $("#max").show();
                    $("#maxInput").attr("lay-verify", "required");
                    $("#min").show();
                    $("#minInput").attr("lay-verify", "required");
                    $("#val").hide();
                    $("#valInput").val("").removeAttr("lay-verify");
                } else if (v === "val") {
                    $("#max").hide();
                    $("#maxInput").val("").removeAttr("lay-verify");
                    $("#min").hide();
                    $("#minInput").val("").removeAttr("lay-verify");
                    $("#val").show();
                    $("#valInput").attr("lay-verify", "required");
                }
            }
        });
    </script>
</div>
</body>
</html>