<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>api</title>
    <link rel="stylesheet" href="../../static/css/layui.css">
</head>
<body>
<div style="padding: 20px">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color: red">*</span>接口名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" value="<<.Name>>" required class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">方法名</label>
            <div class="layui-input-inline">
                <input type="text" name="method" value="<<.Method>>" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <input type="text" name="remark" value="<<.Remark>>" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <input type="hidden" name="id" value="<<.Id>>">
            <input type="hidden" name="status" value="<<.Status>>">
            <button class="layui-btn" lay-submit lay-filter="editApi">
                <i class="layui-icon">&#xe615;</i>提交
            </button>
        </div>
    </form>
    <script src="../../static/layui.js"></script>
    <script>
        layui.use(['form', 'jquery'], function () {
            var form = layui.form;
            var $ = layui.$;
            form.on('submit(editApi)', function (d) {
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "/apis/edit",
                    data: JSON.stringify(d.field),
                    success: function(result){
                        if (result["code"] === 200) {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            parent.location.reload();
                        }
                    }
                });
                return false;
            });
        });
    </script>
</div>
</body>
</html>